*{
    margin: 0;
}

.header-block{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 10px 20px;
    height: var(--header-height);
  background-color: var(--bg-color); 
  color: var(--text-color);
  transition: background-color 0.2s; 
}

// .header-block.light { background-color: #fff; color: #000; }
// .header-block.dark { background-color: #121212; color: #fff; }


.logo{
    width: 91px;
    height: 20px;
}

.dark-btn{
    width: 40px;
    height: 40px;
}
