:root {
   --bg-color: #ffffff;
  --text-color: #000000;
  --btn-bg: #f0f0f0;
  /* --header-height: 80px; */
}
body.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --btn-bg: #333333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.2s; 
}