:root {
    --bg-color: #ffffff;
  --text-color: #000000;
  --btn-bg: #f0f0f0;
  --search-bg-color: #fff;
  --search-border: 1px solid #DEDEDE;
  --search-border-active: 1px solid #575757;
  --heading-text: #121212;
  --accent-color: #9B4B4B;
  --pagination-btn: #1212120D;
  --text-filter-btn: #575757;
  --bgc-filter-select: #d3d3d3;
  --search-no-result: #575757;
}
body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --btn-bg: #333333;
  --search-bg-color: #1A1818;
  --search-border: none;
  --search-border-active: 1px solid #DEDEDE;
  --heading-text: #DEDEDE;
  --accent-color: #AB8956;
  --pagination-btn: #1A1818;
  --text-filter-btn: #DEDEDE;
  --bgc-filter-select:#332f2f;
  --search-no-result: #DEDEDE;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.2s; 
}